@use 'base/variables' as v;
@use 'base/mixins' as mix;
@use 'sass:color';

.barra{
    background-color: v.$azul;

    &__contenido{
        @include mix.contenedor;
        display: flex;
        flex-direction: column;
        @include mix.desktop{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__logo{
        @include mix.logo;
        @include mix.texto-fluido(2rem, 3rem);
    }
}